body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.content {
  position: relative;
  z-index: 1;
}